.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.666000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.872559;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.903320;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.865723;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._7{margin-left:-5.392272px;}
._25{margin-left:-4.218451px;}
._a{margin-left:-3.161912px;}
._1{margin-left:-1.189781px;}
._26{width:1.075961px;}
._23{width:5.878199px;}
._20{width:6.918047px;}
._f{width:8.448285px;}
._8{width:10.329293px;}
._9{width:11.381350px;}
._4{width:13.246362px;}
._5{width:14.394061px;}
._6{width:17.502413px;}
._2{width:19.074760px;}
._3{width:20.180378px;}
._0{width:21.416054px;}
._1f{width:23.844292px;}
._24{width:24.947969px;}
._b{width:28.345600px;}
._e{width:31.196207px;}
._c{width:32.629436px;}
._d{width:36.893422px;}
._21{width:37.971964px;}
._22{width:75.216666px;}
._1c{width:94.781798px;}
._1b{width:261.834675px;}
._17{width:301.047469px;}
._18{width:308.613314px;}
._1a{width:317.784637px;}
._12{width:351.777028px;}
._11{width:355.363564px;}
._10{width:356.838029px;}
._1d{width:358.187211px;}
._13{width:369.749558px;}
._1e{width:376.444426px;}
._19{width:385.769419px;}
._14{width:394.177854px;}
._15{width:412.748140px;}
._16{width:452.439138px;}
.fc3{color:rgb(93,93,93);}
.fc2{color:rgb(220,53,34);}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:31.880400px;}
.fs0{font-size:39.850400px;}
.fs2{font-size:47.820800px;}
.fs3{font-size:57.384800px;}
.fs1{font-size:99.148400px;}
.y0{bottom:0.000000px;}
.y56{bottom:99.959000px;}
.y55{bottom:111.915000px;}
.y54{bottom:125.862000px;}
.y53{bottom:143.795000px;}
.y52{bottom:160.732000px;}
.y51{bottom:172.687000px;}
.y50{bottom:184.642000px;}
.y4f{bottom:198.590000px;}
.y4e{bottom:216.522000px;}
.y4d{bottom:233.459000px;}
.y4c{bottom:245.414000px;}
.y4b{bottom:259.362000px;}
.y4a{bottom:277.294000px;}
.y49{bottom:294.231000px;}
.y48{bottom:306.186000px;}
.y47{bottom:318.141000px;}
.y46{bottom:330.096000px;}
.y45{bottom:348.029000px;}
.y44{bottom:364.966000px;}
.y43{bottom:376.921000px;}
.y42{bottom:388.876000px;}
.y41{bottom:400.831000px;}
.y24{bottom:401.120000px;}
.y40{bottom:412.786000px;}
.y23{bottom:413.075000px;}
.y3f{bottom:424.741000px;}
.y22{bottom:425.030000px;}
.y21{bottom:441.967000px;}
.y3e{bottom:442.674000px;}
.y20{bottom:453.922000px;}
.y3d{bottom:459.611000px;}
.y1f{bottom:465.877000px;}
.y3c{bottom:471.566000px;}
.y1e{bottom:477.832000px;}
.y3b{bottom:483.521000px;}
.y1d{bottom:489.787000px;}
.y3a{bottom:501.454000px;}
.y1c{bottom:501.743000px;}
.y1b{bottom:513.698000px;}
.y39{bottom:528.577000px;}
.y1a{bottom:530.634000px;}
.y19{bottom:542.589000px;}
.y18{bottom:554.545000px;}
.y38{bottom:555.893000px;}
.y17{bottom:571.481000px;}
.y37{bottom:572.749000px;}
.y16{bottom:583.436000px;}
.y15{bottom:595.391000px;}
.y36{bottom:597.880000px;}
.y14{bottom:607.347000px;}
.y13{bottom:619.302000px;}
.y34{bottom:626.275000px;}
.y12{bottom:631.257000px;}
.y33{bottom:635.739000px;}
.y35{bottom:637.700000px;}
.y11{bottom:643.212000px;}
.y32{bottom:646.001000px;}
.y10{bottom:655.167000px;}
.y30{bottom:661.289000px;}
.y31{bottom:663.249000px;}
.yf{bottom:667.122000px;}
.y2f{bottom:671.550000px;}
.ye{bottom:679.078000px;}
.y2e{bottom:696.725000px;}
.yd{bottom:701.219000px;}
.y2d{bottom:722.628000px;}
.y2c{bottom:734.583000px;}
.yc{bottom:739.077000px;}
.y2b{bottom:746.539000px;}
.yb{bottom:758.006000px;}
.y2a{bottom:758.494000px;}
.y29{bottom:770.449000px;}
.ya{bottom:771.954000px;}
.y27{bottom:785.824000px;}
.y9{bottom:785.902000px;}
.y28{bottom:787.784000px;}
.y26{bottom:796.085000px;}
.y8{bottom:799.849000px;}
.y25{bottom:821.261000px;}
.y7{bottom:821.991000px;}
.y6{bottom:880.376000px;}
.y5{bottom:894.323000px;}
.y4{bottom:908.271000px;}
.y3{bottom:922.219000px;}
.y2{bottom:950.157000px;}
.y1{bottom:969.691000px;}
.hb{height:23.318769px;}
.h1{height:26.540366px;}
.h9{height:27.321503px;}
.h6{height:27.669565px;}
.h7{height:29.148388px;}
.h3{height:33.624000px;}
.h5{height:34.151793px;}
.ha{height:34.978300px;}
.h4{height:40.348687px;}
.h8{height:40.982426px;}
.h2{height:69.713719px;}
.h0{height:1008.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x1{left:28.346000px;}
.x2{left:30.452000px;}
.x3{left:31.523000px;}
.x4{left:32.589000px;}
.x8{left:254.524000px;}
.x5{left:255.803000px;}
.x6{left:257.095000px;}
.xa{left:260.075000px;}
.x9{left:267.607000px;}
.x7{left:377.516000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._7{margin-left:-7.189696pt;}
._25{margin-left:-5.624602pt;}
._a{margin-left:-4.215883pt;}
._1{margin-left:-1.586374pt;}
._26{width:1.434614pt;}
._23{width:7.837599pt;}
._20{width:9.224062pt;}
._f{width:11.264380pt;}
._8{width:13.772390pt;}
._9{width:15.175134pt;}
._4{width:17.661815pt;}
._5{width:19.192081pt;}
._6{width:23.336550pt;}
._2{width:25.433013pt;}
._3{width:26.907170pt;}
._0{width:28.554739pt;}
._1f{width:31.792389pt;}
._24{width:33.263958pt;}
._b{width:37.794133pt;}
._e{width:41.594943pt;}
._c{width:43.505915pt;}
._d{width:49.191229pt;}
._21{width:50.629285pt;}
._22{width:100.288889pt;}
._1c{width:126.375731pt;}
._1b{width:349.112900pt;}
._17{width:401.396625pt;}
._18{width:411.484418pt;}
._1a{width:423.712849pt;}
._12{width:469.036037pt;}
._11{width:473.818085pt;}
._10{width:475.784038pt;}
._1d{width:477.582948pt;}
._13{width:492.999411pt;}
._1e{width:501.925901pt;}
._19{width:514.359226pt;}
._14{width:525.570471pt;}
._15{width:550.330853pt;}
._16{width:603.252185pt;}
.fs4{font-size:42.507200pt;}
.fs0{font-size:53.133867pt;}
.fs2{font-size:63.761067pt;}
.fs3{font-size:76.513067pt;}
.fs1{font-size:132.197867pt;}
.y0{bottom:0.000000pt;}
.y56{bottom:133.278667pt;}
.y55{bottom:149.220000pt;}
.y54{bottom:167.816000pt;}
.y53{bottom:191.726667pt;}
.y52{bottom:214.309333pt;}
.y51{bottom:230.249333pt;}
.y50{bottom:246.189333pt;}
.y4f{bottom:264.786667pt;}
.y4e{bottom:288.696000pt;}
.y4d{bottom:311.278667pt;}
.y4c{bottom:327.218667pt;}
.y4b{bottom:345.816000pt;}
.y4a{bottom:369.725333pt;}
.y49{bottom:392.308000pt;}
.y48{bottom:408.248000pt;}
.y47{bottom:424.188000pt;}
.y46{bottom:440.128000pt;}
.y45{bottom:464.038667pt;}
.y44{bottom:486.621333pt;}
.y43{bottom:502.561333pt;}
.y42{bottom:518.501333pt;}
.y41{bottom:534.441333pt;}
.y24{bottom:534.826667pt;}
.y40{bottom:550.381333pt;}
.y23{bottom:550.766667pt;}
.y3f{bottom:566.321333pt;}
.y22{bottom:566.706667pt;}
.y21{bottom:589.289333pt;}
.y3e{bottom:590.232000pt;}
.y20{bottom:605.229333pt;}
.y3d{bottom:612.814667pt;}
.y1f{bottom:621.169333pt;}
.y3c{bottom:628.754667pt;}
.y1e{bottom:637.109333pt;}
.y3b{bottom:644.694667pt;}
.y1d{bottom:653.049333pt;}
.y3a{bottom:668.605333pt;}
.y1c{bottom:668.990667pt;}
.y1b{bottom:684.930667pt;}
.y39{bottom:704.769333pt;}
.y1a{bottom:707.512000pt;}
.y19{bottom:723.452000pt;}
.y18{bottom:739.393333pt;}
.y38{bottom:741.190667pt;}
.y17{bottom:761.974667pt;}
.y37{bottom:763.665333pt;}
.y16{bottom:777.914667pt;}
.y15{bottom:793.854667pt;}
.y36{bottom:797.173333pt;}
.y14{bottom:809.796000pt;}
.y13{bottom:825.736000pt;}
.y34{bottom:835.033333pt;}
.y12{bottom:841.676000pt;}
.y33{bottom:847.652000pt;}
.y35{bottom:850.266667pt;}
.y11{bottom:857.616000pt;}
.y32{bottom:861.334667pt;}
.y10{bottom:873.556000pt;}
.y30{bottom:881.718667pt;}
.y31{bottom:884.332000pt;}
.yf{bottom:889.496000pt;}
.y2f{bottom:895.400000pt;}
.ye{bottom:905.437333pt;}
.y2e{bottom:928.966667pt;}
.yd{bottom:934.958667pt;}
.y2d{bottom:963.504000pt;}
.y2c{bottom:979.444000pt;}
.yc{bottom:985.436000pt;}
.y2b{bottom:995.385333pt;}
.yb{bottom:1010.674667pt;}
.y2a{bottom:1011.325333pt;}
.y29{bottom:1027.265333pt;}
.ya{bottom:1029.272000pt;}
.y27{bottom:1047.765333pt;}
.y9{bottom:1047.869333pt;}
.y28{bottom:1050.378667pt;}
.y26{bottom:1061.446667pt;}
.y8{bottom:1066.465333pt;}
.y25{bottom:1095.014667pt;}
.y7{bottom:1095.988000pt;}
.y6{bottom:1173.834667pt;}
.y5{bottom:1192.430667pt;}
.y4{bottom:1211.028000pt;}
.y3{bottom:1229.625333pt;}
.y2{bottom:1266.876000pt;}
.y1{bottom:1292.921333pt;}
.hb{height:31.091692pt;}
.h1{height:35.387155pt;}
.h9{height:36.428670pt;}
.h6{height:36.892753pt;}
.h7{height:38.864518pt;}
.h3{height:44.832000pt;}
.h5{height:45.535724pt;}
.ha{height:46.637733pt;}
.h4{height:53.798250pt;}
.h8{height:54.643234pt;}
.h2{height:92.951625pt;}
.h0{height:1344.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x1{left:37.794667pt;}
.x2{left:40.602667pt;}
.x3{left:42.030667pt;}
.x4{left:43.452000pt;}
.x8{left:339.365333pt;}
.x5{left:341.070667pt;}
.x6{left:342.793333pt;}
.xa{left:346.766667pt;}
.x9{left:356.809333pt;}
.x7{left:503.354667pt;}
}
