.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.872559;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.903320;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.865723;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._7{margin-left:-4.441595px;}
._a{margin-left:-3.184869px;}
._1{margin-left:-1.189781px;}
._8{width:1.243341px;}
._21{width:5.834997px;}
._20{width:6.918047px;}
._4{width:8.129536px;}
._5{width:9.420698px;}
._9{width:10.717598px;}
._2{width:11.853819px;}
._3{width:12.911616px;}
._6{width:14.279294px;}
._22{width:16.206262px;}
._1e{width:18.154989px;}
._0{width:21.416054px;}
._23{width:22.423965px;}
._1f{width:23.844292px;}
._25{width:26.309335px;}
._b{width:28.345600px;}
._e{width:31.196207px;}
._c{width:32.629436px;}
._d{width:36.893422px;}
._24{width:58.811415px;}
._1b{width:95.046987px;}
._1a{width:261.834675px;}
._16{width:301.047469px;}
._17{width:308.613314px;}
._19{width:317.784637px;}
._11{width:351.777028px;}
._10{width:355.363564px;}
._f{width:356.838029px;}
._1c{width:358.187211px;}
._12{width:369.749558px;}
._1d{width:376.444426px;}
._18{width:385.769419px;}
._13{width:394.177854px;}
._14{width:412.748140px;}
._15{width:452.439138px;}
.fc3{color:rgb(93,93,93);}
.fc2{color:rgb(220,53,34);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs4{font-size:31.880400px;}
.fs3{font-size:39.850400px;}
.fs1{font-size:47.820800px;}
.fs2{font-size:57.384800px;}
.fs0{font-size:99.148400px;}
.y0{bottom:0.000000px;}
.y4b{bottom:87.543000px;}
.y4a{bottom:99.498000px;}
.y49{bottom:113.445000px;}
.y48{bottom:131.378000px;}
.y47{bottom:148.315000px;}
.y46{bottom:160.270000px;}
.y45{bottom:172.225000px;}
.y44{bottom:184.180000px;}
.y43{bottom:202.113000px;}
.y42{bottom:219.049000px;}
.y41{bottom:231.005000px;}
.y40{bottom:242.960000px;}
.y23{bottom:246.965000px;}
.y3f{bottom:254.915000px;}
.y22{bottom:258.920000px;}
.y3e{bottom:266.870000px;}
.y21{bottom:270.876000px;}
.y3d{bottom:278.825000px;}
.y20{bottom:287.812000px;}
.y3c{bottom:296.758000px;}
.y1f{bottom:299.767000px;}
.y1e{bottom:311.722000px;}
.y3b{bottom:313.694000px;}
.y1d{bottom:323.677000px;}
.y3a{bottom:325.650000px;}
.y1c{bottom:335.633000px;}
.y39{bottom:337.605000px;}
.y1b{bottom:347.588000px;}
.y38{bottom:355.538000px;}
.y1a{bottom:359.543000px;}
.y19{bottom:376.479000px;}
.y37{bottom:382.660000px;}
.y18{bottom:388.435000px;}
.y17{bottom:400.390000px;}
.y36{bottom:409.976000px;}
.y16{bottom:417.326000px;}
.y35{bottom:426.833000px;}
.y15{bottom:429.281000px;}
.y14{bottom:441.237000px;}
.y34{bottom:451.964000px;}
.y13{bottom:453.192000px;}
.y12{bottom:465.147000px;}
.y11{bottom:477.102000px;}
.y32{bottom:481.585000px;}
.y33{bottom:483.545000px;}
.y10{bottom:489.057000px;}
.y31{bottom:491.846000px;}
.yf{bottom:501.012000px;}
.y2f{bottom:507.134000px;}
.y30{bottom:509.095000px;}
.ye{bottom:512.968000px;}
.y2e{bottom:517.395000px;}
.yd{bottom:524.923000px;}
.y2d{bottom:542.571000px;}
.yc{bottom:547.064000px;}
.y2c{bottom:568.473000px;}
.y2b{bottom:580.429000px;}
.yb{bottom:584.922000px;}
.y2a{bottom:592.384000px;}
.ya{bottom:603.851000px;}
.y29{bottom:604.339000px;}
.y28{bottom:616.294000px;}
.y9{bottom:617.799000px;}
.y26{bottom:631.669000px;}
.y8{bottom:631.747000px;}
.y27{bottom:633.630000px;}
.y25{bottom:641.931000px;}
.y7{bottom:645.694000px;}
.y24{bottom:667.106000px;}
.y6{bottom:667.836000px;}
.y5{bottom:726.221000px;}
.y4{bottom:740.168000px;}
.y3{bottom:754.116000px;}
.y2{bottom:768.064000px;}
.y1{bottom:796.002000px;}
.h9{height:27.321503px;}
.h6{height:27.669565px;}
.h7{height:29.148388px;}
.h3{height:33.624000px;}
.h5{height:34.151793px;}
.ha{height:34.978300px;}
.h4{height:40.348687px;}
.h8{height:40.982426px;}
.h2{height:69.713719px;}
.h0{height:841.890000px;}
.h1{height:842.000000px;}
.w0{width:595.280000px;}
.w1{width:595.500000px;}
.x0{left:0.000000px;}
.x1{left:28.346000px;}
.x2{left:30.452000px;}
.x3{left:31.523000px;}
.x4{left:32.589000px;}
.x8{left:254.524000px;}
.x5{left:255.803000px;}
.x6{left:257.095000px;}
.x9{left:260.075000px;}
.x7{left:403.935000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._7{margin-left:-5.922127pt;}
._a{margin-left:-4.246492pt;}
._1{margin-left:-1.586374pt;}
._8{width:1.657788pt;}
._21{width:7.779996pt;}
._20{width:9.224062pt;}
._4{width:10.839381pt;}
._5{width:12.560930pt;}
._9{width:14.290131pt;}
._2{width:15.805092pt;}
._3{width:17.215488pt;}
._6{width:19.039059pt;}
._22{width:21.608349pt;}
._1e{width:24.206652pt;}
._0{width:28.554739pt;}
._23{width:29.898620pt;}
._1f{width:31.792389pt;}
._25{width:35.079114pt;}
._b{width:37.794133pt;}
._e{width:41.594943pt;}
._c{width:43.505915pt;}
._d{width:49.191229pt;}
._24{width:78.415220pt;}
._1b{width:126.729316pt;}
._1a{width:349.112900pt;}
._16{width:401.396625pt;}
._17{width:411.484418pt;}
._19{width:423.712849pt;}
._11{width:469.036037pt;}
._10{width:473.818085pt;}
._f{width:475.784038pt;}
._1c{width:477.582948pt;}
._12{width:492.999411pt;}
._1d{width:501.925901pt;}
._18{width:514.359226pt;}
._13{width:525.570471pt;}
._14{width:550.330853pt;}
._15{width:603.252185pt;}
.fs4{font-size:42.507200pt;}
.fs3{font-size:53.133867pt;}
.fs1{font-size:63.761067pt;}
.fs2{font-size:76.513067pt;}
.fs0{font-size:132.197867pt;}
.y0{bottom:0.000000pt;}
.y4b{bottom:116.724000pt;}
.y4a{bottom:132.664000pt;}
.y49{bottom:151.260000pt;}
.y48{bottom:175.170667pt;}
.y47{bottom:197.753333pt;}
.y46{bottom:213.693333pt;}
.y45{bottom:229.633333pt;}
.y44{bottom:245.573333pt;}
.y43{bottom:269.484000pt;}
.y42{bottom:292.065333pt;}
.y41{bottom:308.006667pt;}
.y40{bottom:323.946667pt;}
.y23{bottom:329.286667pt;}
.y3f{bottom:339.886667pt;}
.y22{bottom:345.226667pt;}
.y3e{bottom:355.826667pt;}
.y21{bottom:361.168000pt;}
.y3d{bottom:371.766667pt;}
.y20{bottom:383.749333pt;}
.y3c{bottom:395.677333pt;}
.y1f{bottom:399.689333pt;}
.y1e{bottom:415.629333pt;}
.y3b{bottom:418.258667pt;}
.y1d{bottom:431.569333pt;}
.y3a{bottom:434.200000pt;}
.y1c{bottom:447.510667pt;}
.y39{bottom:450.140000pt;}
.y1b{bottom:463.450667pt;}
.y38{bottom:474.050667pt;}
.y1a{bottom:479.390667pt;}
.y19{bottom:501.972000pt;}
.y37{bottom:510.213333pt;}
.y18{bottom:517.913333pt;}
.y17{bottom:533.853333pt;}
.y36{bottom:546.634667pt;}
.y16{bottom:556.434667pt;}
.y35{bottom:569.110667pt;}
.y15{bottom:572.374667pt;}
.y14{bottom:588.316000pt;}
.y34{bottom:602.618667pt;}
.y13{bottom:604.256000pt;}
.y12{bottom:620.196000pt;}
.y11{bottom:636.136000pt;}
.y32{bottom:642.113333pt;}
.y33{bottom:644.726667pt;}
.y10{bottom:652.076000pt;}
.y31{bottom:655.794667pt;}
.yf{bottom:668.016000pt;}
.y2f{bottom:676.178667pt;}
.y30{bottom:678.793333pt;}
.ye{bottom:683.957333pt;}
.y2e{bottom:689.860000pt;}
.yd{bottom:699.897333pt;}
.y2d{bottom:723.428000pt;}
.yc{bottom:729.418667pt;}
.y2c{bottom:757.964000pt;}
.y2b{bottom:773.905333pt;}
.yb{bottom:779.896000pt;}
.y2a{bottom:789.845333pt;}
.ya{bottom:805.134667pt;}
.y29{bottom:805.785333pt;}
.y28{bottom:821.725333pt;}
.y9{bottom:823.732000pt;}
.y26{bottom:842.225333pt;}
.y8{bottom:842.329333pt;}
.y27{bottom:844.840000pt;}
.y25{bottom:855.908000pt;}
.y7{bottom:860.925333pt;}
.y24{bottom:889.474667pt;}
.y6{bottom:890.448000pt;}
.y5{bottom:968.294667pt;}
.y4{bottom:986.890667pt;}
.y3{bottom:1005.488000pt;}
.y2{bottom:1024.085333pt;}
.y1{bottom:1061.336000pt;}
.h9{height:36.428670pt;}
.h6{height:36.892753pt;}
.h7{height:38.864518pt;}
.h3{height:44.832000pt;}
.h5{height:45.535724pt;}
.ha{height:46.637733pt;}
.h4{height:53.798250pt;}
.h8{height:54.643234pt;}
.h2{height:92.951625pt;}
.h0{height:1122.520000pt;}
.h1{height:1122.666667pt;}
.w0{width:793.706667pt;}
.w1{width:794.000000pt;}
.x0{left:0.000000pt;}
.x1{left:37.794667pt;}
.x2{left:40.602667pt;}
.x3{left:42.030667pt;}
.x4{left:43.452000pt;}
.x8{left:339.365333pt;}
.x5{left:341.070667pt;}
.x6{left:342.793333pt;}
.x9{left:346.766667pt;}
.x7{left:538.580000pt;}
}
